h1{
  font-family: sans-serif;
  text-align: center;
  color: red;
}
.about {
  padding: 30px 80px 0 80px;
}
.ping{
  background-image: url(../images/bg2.jpeg);
}
.jumbotron{
  background-color: #007eff;
}
.btn {
  padding: 10px 20px;
  background-color: blue;
  color: black;
  border-radius: 0;
  transition: .2s;
}

.btn:hover, .btn:focus {
  border: 1px solid grey;
  background-color: blue;
  color: black;
}
#form{
  height: 150px;
  width:200px%;
}
input{
  height: 80px;
  width: 80px;
}
.About{
  background-color: #00dcff;
  border-color: 1px solid yellow;
}
li{
  color: black;
}
